header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100dvw;
    height: 10dvh;
    background-color: var(--black);
    color: white;
    padding: 0 20px;
    & #header-title{
        font-size: clamp(var(--min-title), var(--title), var(--max-title));
    }
    & #header-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
        & button{
            width: 100px;
            height: 30px;
            margin: 0 5px;
            border: none;
            border-radius: 3px;
            font-size: clamp(var(--min-text), var(--text), var(--max-text));
            cursor: pointer;
            background-color: white;
            transform: scale(1);
            transition: all 0.3s ease;
            & a{
                text-decoration: none;
                color: var(--black);
            }
        }
    }
    & .header-buttons button:hover{
        transform: scale(1.1);
        font-weight: bold;
    }
}