#container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#Search{
  width: 80%;
  min-width: 350px;
  max-width: 1000px;
  height: auto;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: clamp(var(--min-title), var(--title), var(--max-title));
}
#search-box {
  display: flex;
  gap: 10px;
}

#search-box input {
  flex: 1;
  padding: 8px;
  border: 2px solid var(--red);
  border-radius: 5px;
}

#search-box button {
  padding: 8px 15px;
  background: var(--red);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#terms {
  text-align: center;
  font-size: 13px;
  margin: 15px 0 30px;
  color: #666;
}

#config {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

#config div {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
}

#results {
  display: flex;
  gap: 30px;
}

#product {
  width: 40%;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#product strong{ font-weight: bold; }

#product img {
  width: 100%;
  margin-bottom: 10px;
}

#summary {
  width: 60%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}

th {
  background: #f3f3f3;
}

#total {
  font-weight: bold;
  background: #e8f5e9;
}