---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.jsx';
import Search from '../components/Search.jsx';
---
<Layout subTitle="Wish List">
	<div id="main-content">
		<Slider client:only="react"/>
		<Search client:only="react"/>
	</div>
</Layout>
<style>
	#main-content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 5dvh;
		width: 100dvw;
		height: 210dvh;
	}
</style>