---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.jsx';
import Search from '../components/Search.jsx';
---
<Layout subTitle="Home">
	<div id="main-content">
		<Slider />
		<Search />
	</div>
</Layout>
<style>
	#main-content{
		display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-template-rows: 20px repeat(5, 1fr) 20px;
		gap: 10px;
        width: 100%;
        height: 100%;
		min-height: 200px;
	}
</style>